<div class="flex flex-col space-y-4 md:space-y-4 pb-6 md:pb-16">
  <TwoColumn>
    <TwoColumn::One>
      <AboutGraphic />
    </TwoColumn::One>
    <TwoColumn::Two>
      <h2 class="text-xl font-bold">“10001”-centered 
        <em>Undercurrent</em> 
        Podcast</h2>
      {{outlet}}
      {{#each @model as |episode|}}
        <section class="flex flex-col md:flex-row w-full space-y-1 space-x-1">
          <div class="w-full md:w-1/2">
            <LinkTo @route="exhibit.podcast.episode" @model={{episode}}>
              <img class="w-full" src={{episode.imageURL}} alt={{episode.title}} />
            </LinkTo>
          </div>
          <PodcastTile @episode={{episode}} />
        </section>
      {{/each}}
      <TextBox @markdownPath="podcast-text" />
    </TwoColumn::Two>
  </TwoColumn>
</div>
