<div class="artist-tile p-1 md:p-2">
  <LinkTo @route="artists.artist" @model={{@artist}}>
    <img 
      src="{{@artist.avatarUrl}}" 
      alt="{{@artist.firstName}} {{@artist.lastName}}"
      class="w-full h-full"
    />
    <div class="absolute bottom-0 w-full left-0 p-1 md:p-2 z-20">
      <div class="w-full text-white flex flex-col items-end">
        {{svg-jar (concat @artist.team.id "-no-bleed") height="4rem" class="fill-current"}}
      </div>
    </div>
    <div class="artist-overlay z-15 opacity-0 hover:opacity-75 absolute bottom-0 left-0 w-full h-full p-1 md:p-2">
      <div class="bg-accent-500 text-white flex items-center justify-center w-full h-full p-2 md:p-4">
        <p class="font-bold text-sm md:text-xl">{{@artist.firstName}}<br />
          {{@artist.lastName}}
        </p>
      </div>
    </div>
  </LinkTo>
</div>
