<div class="h-full flex justify-center items-center pr-1">
  {{#let (object-at 0 (shuffle this.colors)) as |color| }}
    <div class="relative {{color.text}} h-full w-32 md:w-64"> 
      {{#if @clip.dummy}}
        <div class="h-full w-full bg-{{@clip.color}}">&nbsp; </div>
      {{else}}
        <div class="h-full w-full {{color.background}}">
        </div>
        {{svg-jar "play-button" class="fill-current absolute bottom-0 left-0 w-full h-full"}}
        <LinkTo 
          class={{concat "clip-link hover:opacity-75 " (if this.shaded "opacity-75" "opacity-0")}}
          @route={{@clickRoute}} 
          @model={{@clip}}
          {{on "mouseover" this.toggleShaded}}
          {{on "mouseout" this.toggleShaded}}
          >
        </LinkTo>
          <ClipThumbnail::Text 
            @showTeam={{@showTeam}}
            @clickRoute={{@clickRoute}}
            @clip={{@clip}}
            @toggleShaded={{this.toggleShaded}}
            @shaded={{this.shaded}}
            @color={{color.text}}
          />
      {{/if}}
    </div>
  {{/let}}
</div>
