<div class="h-full flex justify-center items-center pr-1">
{{#if (eq @clip "dummy")}}
  <div class="bg-white h-full w-32 md:w-64">&nbsp;</div>
{{else}}
  <div class="relative h-full w-32 md:w-64"> 
    {{#if @clip.dummy}}
      <div class="h-full w-full bg-black">
        <div class="absolute bottom-0 left-0 z-15
          opacity-0 hover:opacity-100 
          p-4 md:p-6 h-full w-full">
          <p class="text-xs md:text-base text-white">
            <span class="uppercase">{{@clip.team.slashName}}</span> 
            videos debut on {{@clip.team.startingDate}}
          </p>
        </div>
      </div>
    {{else}}
    <div class="h-full w-full {{object-at 0 (shuffle this.backgrounds)}}">&nbsp;</div>
      {{svg-jar "play-button" class="absolute bottom-0 left-0 w-full h-full"}}
      <LinkTo @route={{@clickRoute}} @model={{@clip}}
        {{on "mouseover" this.toggleShaded}}
        {{on "mouseout" this.toggleShaded}}
        >
        <div class="z-15 hover:opacity-75 {{if this.shaded "opacity-75" "opacity-0"}} absolute bottom-0 left-0 w-full h-full bg-black">&nbsp;</div>
      </LinkTo>
      <div class="pointer-events-none absolute bottom-0 left-0 text-white flex flex-col justify-end p-4 md:p-6 z-20">
        <LinkTo 
          class="pointer-events-auto font-bold text-xs md:text-base"
          
          @route={{@clickRoute}} @model={{@clip}} 
          {{on "mouseover" this.toggleShaded}} 
          {{on "mouseout" this.toggleShaded}}
          >
          <p class="{{if this.shaded "opacity-100 text-accent-500" "opacity-0"}} hover:opacity-100 text-xs md:text-base">
            Posted: {{format-date @clip.postDate}}
          </p>
        </LinkTo>
      </div>
    {{/if}}
  </div>
{{/if}}
</div>
