<div 
  {{did-insert this.startClock}}
  >
  {{#if this.live}}
    <p class="pb-6">The Unveiling has begun. Follow along on 
      <a class="text-gray-600" href="https://zoom.us/j/99159405929" target="_blank">Undercurrent’s Zoom channel</a>
        or on 
        <a class="text-gray-600" href="https://www.facebook.com/events/s/the-unveiling-10001-collaborat/1441272542726896/?ti=icl" target="_blank">Facebook Live</a>.
    </p>
    {{ yield }}
  {{else}}
      <p class="pb-6">The unveiling begins in {{this.diff.days}} days, {{this.diff.hours}} hours, and {{this.diff.minutes}} minutes.</p>
      {{ yield }}
      <p>Join the unveiling on Sept. 11 at 
        <a class="text-gray-600" href="https://zoom.us/j/99159405929" target="_blank">Undercurrent’s Zoom channel</a>
        or on 
        <a class="text-gray-600" href="https://www.facebook.com/undercurrent.nyc" target="_blank">Facebook Live</a>.
      </p>
  {{/if}}
</div>

