<LinkTo @route="index" class="h-40 bg-white hover:text-gray-800"
  {{in-viewport onEnter=this.onEnter onExit=this.onExit}}
  >
  {{svg-jar "header" class="fill-current"}}
</LinkTo>
<header class="p-4 sticky top-0 bg-white flex flex-row">
  <h1 class="sr-only">10001</h1>
  <div class="flex-grow-0">
    <a href="https://undercurrent.nyc">
      <p class="sr-only">Undercurrent Website</p>
      {{svg-jar "undercurrent" class="fill-current h-16"}}
    </a>
  </div>
  <div class="pl-10 flex flex-grow flex-col">
    <div class="flex justify-end {{if this.showSmallHeader "pb-2 block" "hidden"}}">
      {{svg-jar "header-small" class="h-10"}}
    </div>
    <NavBar />
  </div>
</header>
