<div class="h-full">
  <div class="relative {{if this.showMoreButton (concat @heightClass " overflow-y-hidden") ""}}"
       {{did-insert this.measureOverflow}}
       {{did-update this.reeasureOverflow}}
       >
		{{yield}}
    {{#if this.showMoreButton}}
      <div class="more-button" role="button" {{on "click" this.showMoreText}}>
        <p class="bg-white">/more</p>
      </div>
    {{/if}}
	</div>
</div>
