<nav class="flex p-5">
  <div class="flex-grow-0 px-5">
    <h1 class="text-6xl font-bold"><LinkTo @route="index">10001</LinkTo></h1>
    <ul class="pl-2 text-sm">
      <li><LinkTo @route="about">{{t "about"}}</LinkTo></li>
      <li><LinkTo @route="artists">{{t "artists"}}</LinkTo></li>
      <li>{{t "podcast"}}</li>
    </ul>
  </div>
  <div class="flex-grow px-5 flex items-start flex-wrap">
    <button class="px-2" type="button" {{action this.setLocale "en-us"}}>
    {{svg-jar "usa" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "de-at"}}>
    {{svg-jar "austria" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "mt-mt"}}>
    {{svg-jar "malta" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "fi-fi"}}>
    {{svg-jar "finland" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "nl-be"}}>
    {{svg-jar "flanders" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "lt-lt"}}>
    {{svg-jar "lithuania" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "fr-be"}}>
    {{svg-jar "wallonia" height="1rem"}}
    </button>
    <button class="px-2" type="button" {{action this.setLocale "et-ee"}}>
    {{svg-jar "estonia" height="1rem"}}
    </button>
  </div>
  <div class="flex-grow-0 px-5">
    <a href="https://undercurrent.nyc">
      {{svg-jar "undercurrent" height="4rem"}}
    </a>
  </div>
</nav>
