<div class="w-full md:w-1/2">
  <p class="text-xs md:text-sm">“10001” Episode Nr. {{@episode.id}}</p>
  <h2 class="py-4 md:py-6 font-bold">{{@episode.title}}</h2>
  <ListenButton @model={{@episode}} />
  <p class="text-xs pt-4 md:pt-6">Posted on: {{@episode.postDate}}</p>
  <p class="text-xs">Duration: {{@episode.duration}}</p>
  <p class="text-xs">View: <a class="text-gray-600" href={{@episode.url}}>on undercurrent.nyc</a></p>

  <p class="text-2xs md:text-xs py-4 md:py-6">{{@episode.streamInfo}}</p>
</div>

