<div class="overflow-y-hidden w-full h-screen bg-black flex flex-col justify-between text-white cursor-pointer" {{on "click" this.transition}}>
  <SplashHeader />
  {{#let (shuffle this.teams) as |shuffledTeams|}}
    <div class="w-full flex-grow flex flex-col md:flex-row">
      <div class="hidden md:flex skyline md:flex-col md:flex-grow justify-around items-center grid grid-rows-2">
        <div class="w-full h-full pb-16 flex flex-row justify-around items-end pl-16">
          <div class="space-y-2 px-4 w-1/2 flex flex-col justify-center items-center">
            <p class="text-sm">TEAM /O</p>
            {{svg-jar "team-o-4-wide" class="w-1/6 fill-current"}}
          </div>
          <div class="space-y-2 px-4 w-1/2 flex flex-col justify-center items-center">
            <p>&nbsp;</p>
          </div>
        </div>
        
        <div class="h-full pt-16 flex flex-row justify-around items-start pl-16">
          <SplashPage::TeamTile @team={{object-at 0 shuffledTeams}} />
          <SplashPage::TeamTile @team={{object-at 1 shuffledTeams}} />
        </div>

      </div>
      <div class="h-full flex justify-center items-end pb-10 flex-grow-1 md:flex-grow-0">
        <EmpireStateBuilding @showEnterButton={{true}} />
      </div>
      <div class="hidden md:flex skyline md:flex-col md:flex-grow justify-around items-center grid grid-rows-2">

        <div class="h-full pb-16 flex flex-row justify-around items-end pr-16">
          <SplashPage::TeamTile @team={{object-at 2 shuffledTeams}} />
          <SplashPage::TeamTile @team={{object-at 3 shuffledTeams}} />
        </div>

        <div class="h-full pt-16 flex flex-row justify-around items-start pr-16">
          <SplashPage::TeamTile @team={{object-at 4 shuffledTeams}} />
          <SplashPage::TeamTile @team={{object-at 5 shuffledTeams}} />
        </div>

      </div>
    </div>
  {{/let}}
</div>
