<div class="flex flex-col py-4 md:py-6">
  <div class="flex flex-row pb-4 md:pb-6">
    <div class="w-1/3 md:w-48 md:max-w-2xl">
      <LinkTo @route="exhibit.teams.team" @model={{@team.id}} class="hover:text-accent-500"> 
        <h2 class="text-base md:text-xl font-bold uppercase">{{@team.slashName}}</h2>
      </LinkTo>
    </div>
      <div class="flex-grow">
        <h3 class="text-base md:text-xl font-bold uppercase">
          {{#let (shuffle @team.artists) as |artists|}}
            {{#let (object-at 0 artists) as |artist|}}
              <LinkTo @route="exhibit.artists.artist" 
                @model={{artist}}
                class="hover:text-accent-500">
                <span class="hidden md:inline">
                  {{artist.firstName}}&nbsp;
                </span>
                <span class="mr-6">
                  {{artist.lastName}}
                </span>
              </LinkTo>
            {{/let}}
            {{#let (object-at 1 artists) as |artist|}}
              /<LinkTo @route="exhibit.artists.artist" 
                @model={{artist}}
                class="hover:text-accent-500"><span class="hidden md:inline">{{artist.firstName}}&nbsp;</span>{{artist.lastName}}
              </LinkTo>
            {{/let}}
          {{/let}}
        </h3>
      </div>
  </div>
  <div class="flex flex-row">
    <TeamTile @team={{@team}} />
    <TeamClips @team={{@team}} />
  </div>
</div>
