<div class="flex flex-col space-y-4 md:space-y-4 pb-6 md:pb-4">
  <TeamLogoHeader @team={{@model.team}}>
    <div class="flex flex-col justify-between h-full">
      <SwallowtailFlag>
        {{@model.country.countryName}}
      </SwallowtailFlag>
      <h2 class="pt-2 uppercase text-sm md:text-base font-bold">{{@model.firstName}} {{@model.lastName}}</h2>
    </div>
  </TeamLogoHeader>
  <div class="flex flex-col md:flex-row w-full">
    <div class="w-full md:w-2/5 md:pr-16">
      <img src="{{@model.avatarUrl}}" class="w-full" alt="{{@model.firstName}} {{@model.lastName}}" />
    </div>
    <div class="w-full md:w-3/5 py-8 md:py-0">
        <TextBox>

          <p class="uppercase"><a target="_blank" href="https://instagram.com/{{@model.instagramName}}">{{svg-jar "instagram" class="fill-current inline h-6"}}
              <span class="sr-only">{{@model.fullName}}’s Instagram account</span>
            </a> <a href="{{@model.websiteUrl}}" target="_blank">/Artist Website</a></p>

          {{markdown-to-html @model.bio}}
        </TextBox>
    </div>
  </div>
</div>
