<div class="border-b-2 border-gray-800 p-4 pb-3 md:pb-4">
  <div class="flex justify-between">
    <p>Flag</p>
    <LinkTo @route="exhibit.teams.team" @model={{@model.team}}>
      {{svg-jar @model.team.id class="fill-current h-8"}}
    </LinkTo>
  </div>
  <h2 class="text-xl md:text-3xl font-bold">{{@model.firstName}} {{@model.lastName}}</h2>
  <div class="flex flex-col w-full">
    <img src="{{@model.avatarUrl}}" class="w-full object-cover" alt="{{@model.firstName}} {{@model.lastName}}" />
    <p><a href="{{@model.websiteUrl}}">Artist Website</a></p>
    <p>{{@model.bio}}</p>
  </div>
</div>
