<div class="mb-8 md:mb-12">
  <TwoColumn>
    <TwoColumn::One>
        <TeamLogoHeader @team={{@model.team}}>
          <div class="flex flex-col justify-end md:justify-start md:items-start">
            <h2 class="text-sm md:text-base font-bold">
              <span class="uppercase">{{@model.team.slashName}}</span>
              <br>
              <span class="italic hidden md:inline">{{@model.team.projectTitle}}</span>
            </h2>
            <h3 class="text-sm md:text-sm font-bold">“{{@model.title}}”<br>
              <span class="hidden md:inline">Recorded on: {{format-date @model.recordDate}}<br>
                Posted on: {{format-date @model.postDate}}
              </span>
            </h3>
            <p class="hidden md:block pt-10 text-xs">{{markdown-to-html @model.description}}</p>

          </div>
        </TeamLogoHeader>
    </TwoColumn::One>
    <TwoColumn::Two>
      <Clip @clip={{@model}} />
      <p class="block md:hidden py-4 text-xs">{{markdown-to-html @model.description}}</p>
    </TwoColumn::Two>
  </TwoColumn>
</div>
