<div class="flex flex-col space-y-4 md:space-y-4 pb-6 md:pb-16">
  <TwoColumn>
    <TwoColumn::One>
      <TeamLogoHeader @team={{@model}}>
        <div class="flex flex-col justify-end md:justify-start md:items-start">
          <h2 class="text-sm md:text-base font-bold"><span class="uppercase">{{@model.slashName}}</span>
            <br><span class="italic">{{@model.projectTitle}}</span></h2>
        </div>
      </TeamLogoHeader>
    </TwoColumn::One>
    <TwoColumn::Two>
      {{outlet}}
      <section class="flex flex-row w-full space-x-1">
        {{#each (shuffle @model.artists) as |artist|}}
            <div class="flex flex-col w-1/2 space-y-0">
              <LinkTo @route="exhibit.artists.artist" @model={{artist}}>
                <img class="flex-grow w-full" src="{{artist.avatarUrl}}" alt="{{artist.fullName}}">
                <p class="text-sm md:text-base pt-4 font-bold uppercase">{{artist.fullName}}</p>
              </LinkTo>
              <SwallowtailFlag>
                {{artist.country.countryName}}
              </SwallowtailFlag>
            </div>
        {{/each}}
      </section>

      <p class="text-sm md:text-base pt-6 md:pt-8">
        Consultant: <LinkTo 
          @route="exhibit.consultants.consultant"
          @model="@model.consultant"
          class="font-bold"
          >
            {{@model.consultant.fullName}}
        </LinkTo>
      </p>

      <MoreBox @heightClass="h-64">
        <TextBox>
          <h3 class="text-sm md:text-base font-bold italic pt-2 md:pt-2 pb-2 md:pb-4">{{@model.projectTitle}} Notes</h3>

          <p>No notes yet.</p>
        </TextBox>
      </MoreBox>
      <div class="pt-6 h-32 md:h-64">
        <TeamClips @clickRoute="exhibit.teams.team.clip" @clips={{@model.clips}} @dummies={{false}} />
      </div>
    </TwoColumn::Two>
  </TwoColumn>
</div>
