{{outlet}}
<div class="grid grid-cols-3 grid-rows-6 md:grid-rows-3 md:grid-cols-6">
  {{#each (shuffle 
    (append 
      (flatten @model) 
      (array "dummy" "dummy" "dummy" "dummy")
    )
   ) as |artist|}}
    <div class="relative p-1 md:p-2">
      {{#if (eq artist "dummy")}}
        <p>&nbsp;</p>
      {{else}}
        <LinkTo @route="artists.artist" @model={{artist}}>
          <img 
            src="{{artist.avatarUrl}}" 
            alt="{{artist.firstName}} {{artist.lastName}}"
            class="w-full h-full"
          />
          <div class="absolute bottom-0 w-full left-0 p-1 md:p-2">
            <div class="bg-black w-full text-white p-1 flex flex-col items-end opacity-75">
              {{svg-jar artist.team.id height="1rem" class="fill-current"}}
            </div>
          </div>
          <div class="artist-overlay z-50 opacity-0 hover:opacity-75 absolute bottom-0 left-0 w-full h-full p-1 md:p-2">
            <div class="bg-accent-500 text-white flex items-center justify-center w-full h-full p-2 md:p-4">
              <p class="font-bold text-sm md:text-xl">{{artist.firstName}}<br />
                {{artist.lastName}}
              </p>
            </div>
          </div>
        </LinkTo>
      {{/if}}
    </div>
  {{/each}}
</div>
