<nav>
  <h1>10001</h1>
  <ul>
    <li>en-us</li>
    <li>de-at</li>
    <li>mt-mt</li>
    <li>fi-fi</li>
    <li>nl-be</li>
    <li>lt-lt</li>
    <li>fr-be</li>
    <li>et-ee</li>
  </ul>
  <ul>
    <li>about</li>
    <li>artists</li>
    <li>podcast</li>
  </ul>
  <h2>Ū</h2>
</nav>

{{#each @model as |team|}}
  <div>
    <div>
      <h2>{{team.name}}</h2>
      <img src="/assets/png/{{team.slug}}.png" alt="{{team.name}}" />
      <hr>
      {{#each team.artists as |artist|}}
        <p>{{artist.firstName}} {{artist.lastName}}</p>
      {{/each}}
    </div>
    <div>
      <div>
        <h3>clip 1</h3>
      </div>
    </div>
  </div>
{{/each}}

<hr>

<footer>
  <ul>
    <li>Sponsor A</li>
    <li>Sponsor B</li>
  </ul>
</footer>

{{outlet}}
