<div class="pointer-events-none absolute bottom-0 left-0 w-full justify-end px-4 py-1 md:p-6 z-20
     {{if @shaded "text-accent-500" @color}}">
  <LinkTo 
    class="clip-text md:text-base"
    
    @route={{@clickRoute}} @model={{@clip}} 
    {{on "mouseover" @toggleShaded}} 
    {{on "mouseout" @toggleShaded}}
    >
    <div class="flex flex-row space-x-3">
      <div class="flex flex-col justify-between items-start">
        {{svg-jar "voicemail" class="fill-current h-4 md:h-5 pt-1 md:pt-0"}}
        {{svg-jar "file-upload" class="fill-current h-4 md:h-6 pb-1 md:pb-2"}}
      </div>
      <div class="flex flex-col justify-between">
        <p><span class="sr-only">Recorded On:</span> {{format-date @clip.recordDate}}</p>
        <p class="align-bottom"><span class="sr-only">Posted On:</span>  {{format-date @clip.postDate}}</p>
      </div>
      {{#if @showTeam}}
        <div>
          {{svg-jar @clip.team.id class="fill-current inline h-5 md:h-full md:pb-1 pt-1"}}
        </div>
      {{/if}}
    </div>
  </LinkTo>
</div>
